extends layout

block content
<<<<<<< HEAD
  h1= message
  h2= error.status
  pre #{error.stack}
=======
	h1= message
	h2= error.status
	pre #{error.stack}
	script.
>>>>>>> 86337bb265dfe55e3d498fde778ef7d492f2657f
